/*colors: White #E8EEF1,Blue Grotto #43B0F1, Royal Blue #057DCD, Navy Blue #1E3D58  */

body {
  background-color: #057DCD;
  margin: 0;
  /*height: 1000px;*/
}

 /*head*/
nav {
  background-color: #057DCD;
  display: flex;
  justify-content: center;
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 2;
}

nav li {
  background-color: #057DCD;
  opacity: 0;
  animation: fadein 1s 1s forwards;
  list-style-type: none;
  padding: 10px;
}

nav a {
  font-size: 20px;
  text-decoration: none;
  opacity: 0.85;
  color: white;
}

nav a:hover {
  opacity: 1;
}
 /*intro text */

.intro {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  opacity: 0;
  margin-top: 100px;
  animation: 1s slidefade 0.5s forwards;
}
h1 {
  font-size: 70px;
  margin:0;
  text-transform: uppercase;
}
h2 {
  margin-bottom: 5px;
}
h4 {
  margin-top: 0;
}

/*about*/
.about {
  width: 100%;
  height: 250px;
  background-color: #43B0F1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutbox {
  height: 200px;
  border: solid #1E3D58 2px;
  background-color: #E8EEF1;
  width:70%;
  text-align: center;
}

/*footer*/
footer {
  height: 225px;
  background-color: #1E3D58;
  width: 100%;
}

.contact {
  width: 300px;
  color: white;
}

.contact p {
  margin-top: 0;
}

.contact form {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 575px) {
  #name {
    font-size: 45px;
  }
  #title  {
    font-size: 1em;
  }
  #location {
    font-size: 0.75em;
  }
}

/*animations*/
@keyframes fadein {
  100% {
    opacity: 1;
  }

}
 @keyframes slidefade {
   100% {
     opacity: 1;
     margin-top: 0;
   }
 }
